<template>
  <v-container>
    <v-data-table :headers="headers" :items="filteredBooks" :item-key="itemKey" class="elevation-1" items-per-page="5">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title><b>List of Books</b></v-toolbar-title>
          <v-toolbar-title></v-toolbar-title>
          <button @click="showAllFavoriteBooks()" class="blue-button">My Favorite Books</button>
          <button @click="deleteAllFavorite()" class="red-button">DELETE</button>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>

      <template #item.title="{ item }">
        <router-link :to="`/book/${item.id}`">{{ item.title }}</router-link>
      </template>

      <template #item.cover="{ item }">
        <img :src="item.cover" :alt="item.title" class="img-cover">
      </template>

      <template #item.publicationDate="{ item }">
        <p>{{ formatDate(item.publicationDate) }}</p>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon v-if="item.status" small @click="favItem(item)" class="favorite">mdi-heart</v-icon>
        <v-icon v-else="item.status" small @click="favItem(item)">mdi-heart</v-icon>
      </template>
    </v-data-table>
    <v-data-table :headers="headers" :items="favBooks" item-key="name" class="elevation-1" items-per-page="5">

      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title><b>List of Fav Books</b></v-toolbar-title>
          <v-toolbar-title></v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>

      <template #item.title="{ item }">
        <router-link :to="`/book/${item.id}`">{{ item.title }}</router-link>
      </template>

      <template #item.cover="{ item }">
        <img :src="item.cover" :alt="item.title" class="img-cover">
      </template>

      <template #item.publicationDate="{ item }">
        <p>{{ formatDate(item.publicationDate) }}</p>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon v-if="item.status" small @click="favItem(item)" class="favorite">mdi-heart</v-icon>
        <v-icon v-else="item.status" small @click="favItem(item)">mdi-heart</v-icon>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import { DeprecationTypes } from 'vue';
import BookDetails from './BookDetails.vue';
import { VueElement } from 'vue';
import { isRuntimeOnly } from 'vue';
import { inferRuntimeType } from 'vue/compiler-sfc';

export default {
  data() {
    return {
      headers: [
        { title: 'Title', align: 'start', sortable: true, key: 'title', },
        { title: 'Author', key: 'author' },
        { title: 'Cover', key: 'cover' },
        { title: 'Publish Date', key: 'publicationDate' },
        { title: 'Actions', key: 'actions' },
      ],
      books: [],
      favBooks: [],
      unFavBooks: [],
      allBooksWithFav: [],
      itemKey: 'name',
      status: true
    };
  },
  methods: {
    async getData() {
      const res = await fetch('https://my-json-server.typicode.com/aditgege/mock/books')
      const finalRes = await res.json()
      this.books = finalRes
      this.books.forEach(item => {
        item.status = false
      });
    },
    favItem(item) {
      if (this.favBooks.length == 0) {
        item.status = true
        this.favBooks.push(item)
        localStorage.setItem("favBooks", JSON.stringify(this.favBooks))
        console.log('a')
      } else if (this.favBooks.length > 0) {
        let indexToRemove = ''
        this.favBooks.forEach((book) => {
          if (book.id == item.id) {
            indexToRemove = this.favBooks.indexOf(book)
            console.log('aaa')
            console.log(indexToRemove)
          }
        })
        if (indexToRemove!=='') {
          item.status = false
          this.favBooks.splice(indexToRemove, 1)
          localStorage.removeItem("favBooks", JSON.stringify(this.favBooks));
          console.log('b')
        } else {
          item.status = true
          this.favBooks.push(item)
          localStorage.setItem("favBooks", JSON.stringify(this.favBooks))
          console.log('c')
        }
      }
    },
    getAllFavoriteBooks() {
      const getFavBooksData = localStorage.getItem("favBooks")
      const convertData = JSON.parse(getFavBooksData)
      if (convertData) {
        this.favBooks = convertData
      }
    },
    showAllFavoriteBooks() {
      this.books = this.books.filter(product => product.status === true)
    },
    formatDate(date) {
      const dateToString = new Date(date)
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      return dateToString.toLocaleDateString(undefined, options);
    },
    deleteAllFavorite() {
      this.favBooks = []
      localStorage.clear()
    }
  },
  mounted() {
    this.getData()
    this.getAllFavoriteBooks()
  },
  computed: {
    filteredBooks() {
      return this.books.filter(book => book.status == false)
    }
  }
};
</script>

<style>
.img-cover {
  width: 100px;
  height: 150px;
}

.favorite {
  color: pink
}

.blue-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red-button {
  background-color: RED;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red-button:hover {
  background-color: darkred;
}

.blue-button:hover {
  background-color: darkblue;
}

.green-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.green-button:hover {
  background-color: darkgreen;
}
</style>