<template>
    <div>
        <h1>Halaman Input Phone</h1>
        <PhoneInput v-model="requestData.phone"/>
    </div>
</template>

<script>
import PhoneInput from '@/components/PhoneInput.vue';

export default {
    components: {
        PhoneInput
    },
    data() {
        return {
            requestData: {
                phone: '',
                email: '',
                name: ''
            }
        }
    }
};
</script>

<style>

</style>