<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-checkbox v-model="isRequired" label="Wajib diisi"></v-checkbox>
            </v-col>
            <v-col cols="12">
                <v-text-field :modelValue="modelValue" label="Nomor HP" @update:modelValue="updateValue"
                    :error-messages="invalidPhoneNumber == 'wrong' ? ['Nomor HP tidak valid'] : []" :counter="13"
                    required>
                </v-text-field>
            </v-col>
            <v-col cols="12">
                <span v-if="invalidPhoneNumber == 'valid'" style="color: green">{{ country }} : {{ phoneNumber }}</span>
            </v-col>
            <v-col cols="12">
                <span v-if="invalidPhoneNumber == 'valid'" style="color: green">Nomor HP valid</span>
                <span v-else-if="invalidPhoneNumber == 'wrong'" style="color: red">Nomor HP tidak valid</span>
            </v-col>
            <v-col cols="12">
                <span v-if="isRequired && countryCode == ''" style="color: darkgoldenrod">Nomer HP wajib diisi</span>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Data from '@/assets/phoneNumber.json'

export default {
    data() {
        return {
            phoneNumber: '',
            invalidPhoneNumber: '',
            countryCode: '',
            country: '',
            isRequired: false,
            dataCountryPhone: Data
        };
    },
    methods: {
        validatePhoneNumber(phone) {
            const dataPhone = phone
            const lengthInput = dataPhone.length
            let validPhoneNumber = ''
            let isFound = false

            this.dataCountryPhone.forEach((data) => {
                if (dataPhone.startsWith(data.dial_code)) {
                    isFound = true
                    this.country = data.name
                }
            }
            )

            if (lengthInput >= 10 && lengthInput <= 13 && isFound) {
                validPhoneNumber = dataPhone
                this.invalidPhoneNumber = 'valid';
                this.countryCode = dataPhone.startsWith('+') ? '+62' : '62';
                this.phoneNumber = dataPhone
            } else {
                this.invalidPhoneNumber = 'wrong';
                this.countryCode = '';
            }

            console.log(validPhoneNumber)
            return validPhoneNumber
        },
        updateValue(event) {
            this.$emit("update:modelValue", this.validatePhoneNumber(event))
        }
    },
    props: {
        modelValue: {
            type: String
        }
    },
};
</script>

<style scoped></style>